.companies-screen {
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.companies-search-input {
    width: 50%;
}

.companies-search-input .MuiInputBase-root:after {
    border-bottom: 2px solid #000;
}

.companies-list {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.company-card {
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px 3px rgba(0,0,0,0.3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #E0E0E0;
    background-color: #3e3e3e;
    transition: all 200ms;
}

.company-card:hover {
    box-shadow: 0 2px 5px 3px #E0E0E0;
    background-color: rgba(0, 0, 0, .8);
}

.company-card-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.company-ticker {
    font-size: 40px;
    font-weight: 600;
    color: rgba(255,255,255, 0.3);
}

.company-name {
    font-size: 20px;
    padding-bottom: 8px;
    padding-left: 10px;
    color: #d4af37;
}

.company-card-price {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 64px;
}

.company-price {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(255,255,255, 0.3);
}

.company-card-percentage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.company-percentage {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.price-up {
    color: rgba(26, 179, 26, 0.9);
}

.price-down {
    color: rgba(219, 34, 34, 0.9);
}

.arrow-icon {
    font-size: 30px !important;
    margin-left: 5px;
}

.buy-button:hover {
    cursor: pointer;
}

.no-results-text {
    font-size: 20px;
    padding-bottom: 8px;
    padding-left: 10px;
}
