body,html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
#root,.app-container {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

.app-container {
  display: flex;
  justify-content: center;
  overflow: auto;
}

