name: publish

on:
  push:
    branches: [ develop ]

jobs:
  publish-dev-image:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build . --tag ghcr.io/facundobocalandro/robin-hood-client:$ROBIN_HOOD_VERSION
          docker push ghcr.io/facundobocalandro/robin-hood-client:$ROBIN_HOOD_VERSION
        env:
          ROBIN_HOOD_VERSION: 0.2.0
